.button {
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
}

/* modifiers */

._size_small {
	font-size: 13px;
	line-height: 18px;
	height: 18px;
	padding: 0 5px;
}

._size_medium {
	font-size: 15px;
	line-height: 20px;
	height: 20px;
	padding: 0 10px;
}

._size_big {
	font-size: 18px;
	line-height: 24px;
	height: 24px;
	padding: 0 15px;
}

._theme_primary {
	background: orange;
	color: white;
}

._theme_default {
	background: lightblue;
	color: black;
}

._disabled_yes {
	background: lightgray;
	color: #666;
	cursor: default;
}

/* elements */

.__text {
	text-transform: uppercase;
}